@model BookEcommerce.Areas.Admin.Models.AdminBookAddVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h1 class="text-center">Kitap Ekle</h1>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container border border-dark p-3">

            <div class="row form-group ml-5">
                @Html.Label(null, "Kitap Adı :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.Title, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Kitap Fiyatı :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.Price, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.Price, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Kitap Sayfası :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.BookPages, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.BookPages, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Stok :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.StockCount, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.StockCount, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Kitap Açıklaması :", new { @class = "col-md-3" })
                @Html.TextAreaFor(x => x.Description, 10, 10, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Kategoriler :", new { @class = "col-md-3" })
                @Html.DropDownListFor(x => x.CategoryId,
                        new List<SelectListItem>(ViewBag.CategoryList),
                        new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Yazarlar :", new { @class = "col-md-3" })
                @Html.DropDownListFor(x => x.AuthorId,
                        new List<SelectListItem>(ViewBag.authorList),
                        new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.AuthorName, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Yayınevi :", new { @class = "col-md-3" })
                @Html.DropDownListFor(x => x.PublisherId,
                        new List<SelectListItem>(ViewBag.publisherList),
                        new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.PublisherName, null, new { @class = "col-md-3 text-danger" })
            </div>

            <div class="d-flex justify-content-end">
                <input class="btn btn-success" type="submit" value="Ekle" />
            </div>
        </div>
    }
    @if (TempData["IslemBasarılı"] != null)
    {
        <div class="mt-4">
            <p class="alert alert-success"> @TempData["IslemBasarılı"] </p>
        </div>
    }
    @if (TempData["IslemBasarısız"] != null)
    {
        <div class="mt-4">
            <p class="alert alert-danger"> @TempData["IslemBasarısız"] </p>
        </div>
    }
</div>

