@model BookEcommerce.Areas.Admin.Models.AdminPublisherVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h1 class="text-center">Yayıncı Ekle</h1>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container border border-dark p-3">

            <div class="row form-group ml-5">
                @Html.Label(null, "Yayıncı Adı :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.Name, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "col-md-3 text-danger" })
            </div>
            <div class="row form-group ml-5">
                @Html.Label(null, "Yayıncı Adresi :", new { @class = "col-md-3" })
                @Html.TextBoxFor(x => x.Address, null, new { @class = "col-md-5 form-control" })
                @Html.ValidationMessageFor(x => x.Address, null, new { @class = "col-md-3 text-danger" })
            </div>

            <div class="d-flex justify-content-end">
                <input class="btn btn-success" type="submit" value="Ekle" />
            </div>
        </div>
    }

</div>
